{% extends "base.html" %} 
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}

<section class="vh-100 bg-image" style='background-image:url("{% static "images/OIP.jpeg" %}");'>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Welcome back, Login</h2>
              {% if error %}
                <div class='text-danger my-3'>
                  {{error}}
                <div>
              {% endif %}
              <form method='post' action="{% url 'login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" name='username' placeholder="Username"/>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg" name='password' placeholder="Password"/>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4">Login</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">create an account? <a href="{% url 'signup' %}"
                    class="fw-bold">Register</a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}